# Highest earning majors in Houston

In this notebook we're going to use the U.S. Department of Education's [College Scorecard dataset](https://collegescorecard.ed.gov/data/) to find the highest-earning majors from San Antonio-area colleges and universities.

## Import libraries and load data

First we'll import the necessary libraries and load the data.

In [49]:
# We import pandas for data manipulation
import pandas as pd

import os

In [50]:
# First we'll import the coordinates file
full_coordinates_df = pd.read_csv('../data/college_coordinates.csv')

# Let's filter the data to only include colleges and universities in San Antonio, Texas, based on the "CITY" AND "STATE" columns
houston_df = full_coordinates_df[(full_coordinates_df['CITY'] == 'Houston') & (full_coordinates_df['STABBR'] == 'TX')]

houston_df.info()

houston_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 169 to 6360
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   INSTNM     66 non-null     object
 1   CITY       66 non-null     object
 2   STATE      66 non-null     object
 3   STABBR     66 non-null     object
 4   ZIP        66 non-null     object
 5   LATITUDE   59 non-null     float64
 6   LONGITUDE  59 non-null     float64
 7   UNITID     66 non-null     int64
 8   OPEID      66 non-null     float64
 9   INSTURL    66 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 5.7+ KB

,INSTNM,CITY,STATE,STABBR,ZIP,LATITUDE,LONGITUDE,UNITID,OPEID,INSTURL
169,Altierus Career College-Bissonnet,Houston,Texas,TX,77036-8001,29.677415,-95.544702,445461,149916.0,https://www.altierus.edu/
201,American College of Acupuncture and Oriental Med,Houston,Texas,TX,77063-4104,29.735747,-95.524765,429085,3153300.0,www.acaom.edu/
231,American InterContinental University-Houston,Houston,Texas,TX,77042,29.728216,-95.548302,445133,2113610.0,www.aiuniv.edu/online-campus/campus-locations/...
237,American Medical Institute Inc.,Houston,Texas,TX,77099,29.702418,-95.596735,494977,4286600.0,https://amiinc.net/online-cna.html
474,Aviation Institute of Maintenance-Houston,Houston,Texas,TX,77061,29.658520,-95.282620,227748,4146700.0,https://www.aviationmaintenance.edu/campuses/h...

In [51]:
# Now let's import the Most-Recent-Cohorts-Field-of-Study.parquet
full_field_of_study_df = pd.read_parquet('../data/Most-Recent-Cohorts-Field-of-Study.parquet')

# There are only a few fields we're interested in, so let's create a list of fields we want to keep. This includes: UNITID, OPEID6, INSTNM, CONTROL, CIPDESC, CREDLEV, CREDDESC, EARN_NE_MDN_3YR, IPEDSCOUNT2
fields_of_interest = ['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'CIPDESC', 'CREDLEV', 'CREDDESC', 'EARN_NE_MDN_3YR', 'IPEDSCOUNT2']

# Now let's filter the data to only include the fields we're interested in
major_earnings_df = full_field_of_study_df[fields_of_interest]

major_earnings_df.info()

major_earnings_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224817 entries, 0 to 224816
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   UNITID           215889 non-null  float64
 1   OPEID6           224817 non-null  int64
 2   INSTNM           224817 non-null  object
 3   CONTROL          224817 non-null  object
 4   CIPDESC          224817 non-null  object
 5   CREDLEV          224817 non-null  int64
 6   CREDDESC         224817 non-null  object
 7   EARN_NE_MDN_3YR  224817 non-null  object
 8   IPEDSCOUNT2      190135 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 15.4+ MB

,UNITID,OPEID6,INSTNM,CONTROL,CIPDESC,CREDLEV,CREDDESC,EARN_NE_MDN_3YR,IPEDSCOUNT2
0,100654.0,1002,Alabama A & M University,Public,"Agriculture, General.",3,Bachelor’s Degree,PrivacySuppressed,NaN
1,100654.0,1002,Alabama A & M University,Public,Animal Sciences.,3,Bachelor’s Degree,PrivacySuppressed,6.0
2,100654.0,1002,Alabama A & M University,Public,Food Science and Technology.,3,Bachelor’s Degree,PrivacySuppressed,7.0
3,100654.0,1002,Alabama A & M University,Public,Food Science and Technology.,5,Master's Degree,PrivacySuppressed,8.0
4,100654.0,1002,Alabama A & M University,Public,Food Science and Technology.,6,Doctoral Degree,PrivacySuppressed,2.0

In [52]:
# Now let's merge the two dataframes together using the UNITID column
houston_earnings_df = pd.merge(houston_df, major_earnings_df, on='UNITID')

houston_earnings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1086 entries, 0 to 1085
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   INSTNM_x         1086 non-null   object
 1   CITY             1086 non-null   object
 2   STATE            1086 non-null   object
 3   STABBR           1086 non-null   object
 4   ZIP              1086 non-null   object
 5   LATITUDE         1086 non-null   float64
 6   LONGITUDE        1086 non-null   float64
 7   UNITID           1086 non-null   int64
 8   OPEID            1086 non-null   float64
 9   INSTURL          1086 non-null   object
 10  OPEID6           1086 non-null   int64
 11  INSTNM_y         1086 non-null   object
 12  CONTROL          1086 non-null   object
 13  CIPDESC          1086 non-null   object
 14  CREDLEV          1086 non-null   int64
 15  CREDDESC         1086 non-null   object
 16  EARN_NE_MDN_3YR  1086 non-null   object
 17  IPEDSCOUNT2      1029 non-null   float64
dtypes: float64(4), int64(3), object(11)
memory usage: 161.2+ KB

## Cleaning

Now let's do some cleaning.

Something to note: We're filtering out "PrivacySuppressed" values.

"Any debt or earnings data points suppressed for privacy are indicated by the “PrivacySuppressed” data code." — [College Scorecard Data Documentation](https://collegescorecard.ed.gov/assets/FieldOfStudyDataDocumentation.pdf)

In [53]:
# If EARN_NE_MDN_3YR is "PrivacySuppressed	" then we'll drop the row
houston_earnings_df = houston_earnings_df[houston_earnings_df['EARN_NE_MDN_3YR'] != 'PrivacySuppressed']

# We're only looking at bachelor's degrees, so let's filter the data to only include those.
houston_earnings_df = houston_earnings_df[houston_earnings_df['CREDLEV'] == 3]

# Sort the data by the median earnings
houston_earnings_df.sort_values(by='EARN_NE_MDN_3YR', ascending=False, inplace=True)

# Let's drop the columns we don't need. This includes: STABBR, INSTNM_
houston_earnings_df.drop(columns=['STABBR', 'INSTNM_y'], inplace=True)

# # Rename the INSTNM_x column to INSTNM
houston_earnings_df.rename(columns={'INSTNM_x': 'INSTNM'}, inplace=True)

# Let's reorder the columns so that the most important columns are first: UNITID, OPEID6, INSTNM, CONTROL, CITY, STATE, ZIP, LATITUDE, LONGITUDE, CIPDESC, CREDLEV, CREDDESC, EARN_NE_MDN_3YR, IPEDSCOUNT2
houston_earnings_df = houston_earnings_df[['UNITID', 'OPEID6', 'INSTNM', 'CONTROL', 'CITY', 'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'CIPDESC', 'CREDLEV', 'CREDDESC', 'EARN_NE_MDN_3YR', 'IPEDSCOUNT2']]

# Replace the "." in the CIPDESC column with nothing.
houston_earnings_df['CIPDESC'] = houston_earnings_df['CIPDESC'].str.replace('.', '')

houston_earnings_df.head()

/var/folders/w4/djgt59l94t51k1198f2hnn980000gn/T/ipykernel_35424/2163211063.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  houston_earnings_df['CIPDESC'] = houston_earnings_df['CIPDESC'].str.replace('.', '')

,UNITID,OPEID6,INSTNM,CONTROL,CITY,STATE,ZIP,LATITUDE,LONGITUDE,CIPDESC,CREDLEV,CREDDESC,EARN_NE_MDN_3YR,IPEDSCOUNT2
373,227757,3604,Rice University,"Private, nonprofit",Houston,Texas,77005-1827,29.717897,-95.402035,Chemical Engineering,3,Bachelor’s Degree,92763,53.0
691,225511,3652,University of Houston,Public,Houston,Texas,77204-2018,29.720393,-95.343537,Information Science/Studies,3,Bachelor’s Degree,90735,5.0
713,225511,3652,University of Houston,Public,Houston,Texas,77204-2018,29.720393,-95.343537,"Electrical, Electronics and Communications Eng...",3,Bachelor’s Degree,85834,75.0
723,225511,3652,University of Houston,Public,Houston,Texas,77204-2018,29.720393,-95.343537,Petroleum Engineering,3,Bachelor’s Degree,83990,157.0
452,227757,3604,Rice University,"Private, nonprofit",Houston,Texas,77005-1827,29.717897,-95.402035,Economics,3,Bachelor’s Degree,81590,94.0

## Analysis no. 1: Highest-earning majors in San Antonio

The first graphic in this story is going to highlight the highest-paying majors in San Antonio.

In [54]:
# Let's create a pivot table that finds the max median earnings for each INSTNM_x.
pivot_table = pd.pivot_table(houston_earnings_df, values='EARN_NE_MDN_3YR', index=['INSTNM'], aggfunc='max')

# Let's sort the data by the median earnings
pivot_table.sort_values(by='EARN_NE_MDN_3YR', ascending=False, inplace=True)

# Merge the pivot table with the houston_earnings_df dataframe so that we can get the CIPDESC. Merge on the EARN_NE_MDN_3YR column.
houston_top_earning_majors_df = pd.merge(houston_earnings_df, pivot_table, on='EARN_NE_MDN_3YR')

# Drop any rows where IPEDSCOUNT2 is 0. Instances where IPEDSCOUNT2 is 0 means either the program is no longer offered or there is a mismatch in the data.
houston_top_earning_majors_df = houston_top_earning_majors_df[houston_top_earning_majors_df['IPEDSCOUNT2'] != 0]

# Export houston_top_earning_majors_df to a CSV file
houston_top_earning_majors_df.to_csv('../output/Houston/houston_top_earning_majors.csv', index=False)

houston_top_earning_majors_df

,UNITID,OPEID6,INSTNM,CONTROL,CITY,STATE,ZIP,LATITUDE,LONGITUDE,CIPDESC,CREDLEV,CREDDESC,EARN_NE_MDN_3YR,IPEDSCOUNT2
0,227757,3604,Rice University,"Private, nonprofit",Houston,Texas,77005-1827,29.717897,-95.402035,Chemical Engineering,3,Bachelor’s Degree,92763,53.0
1,225511,3652,University of Houston,Public,Houston,Texas,77204-2018,29.720393,-95.343537,Information Science/Studies,3,Bachelor’s Degree,90735,5.0
2,225432,3612,University of Houston-Downtown,Public,Houston,Texas,77002-1014,29.766100,-95.359338,Computer Engineering Technologies/Technicians,3,Bachelor’s Degree,76489,21.0
3,466930,6385,Chamberlain University-Texas,"Private, for-profit",Houston,Texas,77041,29.838386,-95.560414,"Registered Nursing, Nursing Administration, Nu...",3,Bachelor’s Degree,74013,320.0
4,225399,3576,Houston Baptist University,"Private, nonprofit",Houston,Texas,77074-3298,29.693819,-95.515954,"Registered Nursing, Nursing Administration, Nu...",3,Bachelor’s Degree,73176,96.0
5,229300,4951,The University of Texas Health Science Center ...,Public,Houston,Texas,77030,29.702873,-95.403183,"Registered Nursing, Nursing Administration, Nu...",3,Bachelor’s Degree,72084,442.0
6,225414,11711,University of Houston-Clear Lake,Public,Houston,Texas,77058-1002,29.582523,-95.098129,Computer Engineering,3,Bachelor’s Degree,70167,36.0
7,484756,20988,University of Phoenix-Texas,"Private, for-profit",Houston,Texas,77079,29.783700,-95.585258,"Computer and Information Sciences, General",3,Bachelor’s Degree,67814,3.0
8,229063,3642,Texas Southern University,Public,Houston,Texas,77004,29.721046,-95.361113,"Allied Health Diagnostic, Intervention, and Tr...",3,Bachelor’s Degree,57454,15.0
9,445133,21136,American InterContinental University-Houston,"Private, for-profit",Houston,Texas,77042,29.728216,-95.548302,"Computer and Information Sciences, General",3,Bachelor’s Degree,47516,14.0
10,222938,21171,The Art Institute of Houston,"Private, for-profit",Houston,Texas,77027-9625,29.730250,-95.445766,Culinary Arts and Related Services,3,Bachelor’s Degree,32275,11.0
11,445203,30265,Remington College-North Houston Campus,"Private, nonprofit",Houston,Texas,77067,29.946769,-95.424881,Criminal Justice and Corrections,3,Bachelor’s Degree,25996,3.0
12,388520,34224,College of Biblical Studies-Houston,"Private, nonprofit",Houston,Texas,77036-3211,29.716676,-95.506559,Religious Education,3,Bachelor’s Degree,25538,NaN

## Analysis no. 2: The five highest-earning majors at each San Antonio college and university

The second graphic in this story is going to highlight the five highest-earning majors at each San Antonio college and university. We'll spit each schools' top five majors into a separate CSV file.

In [55]:
# We first drop any rows that have a null value in the EARN_NE_MDN_3YR column.
houston_earnings_df = houston_earnings_df.dropna(subset=['EARN_NE_MDN_3YR'])

# Drop any rows where IPEDSCOUNT2 is 0. Instances where IPEDSCOUNT2 is 0 means either the program is no longer offered or there is a mismatch in the data.
houston_earnings_df = houston_earnings_df[houston_earnings_df['IPEDSCOUNT2'] != 0]

# Convert the EARN_NE_MDN_3YR column to an int.
houston_earnings_df['EARN_NE_MDN_3YR'] = houston_earnings_df['EARN_NE_MDN_3YR'].astype(int)

# For each INSTNM, find the five CIPDESC with the highest EARN_NE_MDN_3YR values. We'll use the nlargest() function.
five_highest_paying_majors_per_san_antonio_college_df = houston_earnings_df.groupby('INSTNM').apply(lambda x: x.nlargest(5, 'EARN_NE_MDN_3YR')).reset_index(drop=True)

# Sort first by INSTNM and then by EARN_NE_MDN_3YR
five_highest_paying_majors_per_san_antonio_college_df.sort_values(by=['INSTNM', 'EARN_NE_MDN_3YR'], ascending=False, inplace=True)

# For each INSTNM, create a new CSV file that contains the five highest paying majors.
for college in five_highest_paying_majors_per_san_antonio_college_df['INSTNM'].unique():
    college_df = five_highest_paying_majors_per_san_antonio_college_df[five_highest_paying_majors_per_san_antonio_college_df['INSTNM'] == college]
    
    # Replace spaces with underscores
    college = college.replace(' ', '_')

    # Use college to find the current row's city name
    city = college_df['CITY'].iloc[0]

    # Replace spaces with underscores
    city = city.replace(' ', '_')

    # If the city directory doesn't exist, then create it
    if not os.path.exists(f'../output/{city}'):
        os.makedirs(f'../output/{city}')

    college_df.to_csv(f'../output/{city}/{college}.csv', index=False)

five_highest_paying_majors_per_san_antonio_college_df.head()

,UNITID,OPEID6,INSTNM,CONTROL,CITY,STATE,ZIP,LATITUDE,LONGITUDE,CIPDESC,CREDLEV,CREDDESC,EARN_NE_MDN_3YR,IPEDSCOUNT2
45,484756,20988,University of Phoenix-Texas,"Private, for-profit",Houston,Texas,77079,29.7837,-95.585258,"Computer and Information Sciences, General",3,Bachelor’s Degree,67814,3.0
46,484756,20988,University of Phoenix-Texas,"Private, for-profit",Houston,Texas,77079,29.7837,-95.585258,Finance and Financial Management Services,3,Bachelor’s Degree,53312,1.0
47,484756,20988,University of Phoenix-Texas,"Private, for-profit",Houston,Texas,77079,29.7837,-95.585258,"Business Administration, Management and Operat...",3,Bachelor’s Degree,48830,209.0
48,484756,20988,University of Phoenix-Texas,"Private, for-profit",Houston,Texas,77079,29.7837,-95.585258,Marketing,3,Bachelor’s Degree,45793,3.0
49,484756,20988,University of Phoenix-Texas,"Private, for-profit",Houston,Texas,77079,29.7837,-95.585258,Accounting and Related Services,3,Bachelor’s Degree,45387,24.0